/* Contenedor principal */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #ff9a9e, #fad0c4, #fbc2eb);
  background-size: 300% 300%;
  animation: colorShift 8s ease infinite;
  z-index: -1;
}
.contenedor-memotest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f8ff;
  padding: 20px;
  box-sizing: border-box;
}
/* Titulo del juego*/
.title-memotest {
  font-size: 3rem;
  color: #1e90ff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
  /* Tablero de juego */
  .tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
  }
  .containerTablero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Cartas */
  .carta {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .carta.volteada .frente {
    transform: rotateY(0);
  }
  
  .carta.volteada .dorso {
    transform: rotateY(180deg);
  }
  
  .frente,
  .dorso {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #f7f7f7;
  }
  
  .dorso {
    transform: rotateY(0);
    background: #1e90ff;
    color: white;
  }
  
  .frente {
    transform: rotateY(180deg);
  }
  
  /* Mensaje final */
  .mensaje-final {
    margin-top: 20px;
    text-align: center;
  }
  /* Opciones */
  .contenedor-opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
  }
  
  /* Estilos responsive */
  @media (max-width: 600px) {
    .tablero {
      grid-template-columns: repeat(4, 70px);
      grid-gap: 8px;
    }
  
    .carta {
      width: 70px;
      height: 70px;
    }
  
    .frente,
    .dorso {
      font-size: 1.5em;
    }
  }
  
  @media (max-width: 400px) {
    .tablero {
      grid-template-columns: repeat(2, 70px);
      grid-gap: 8px;
    }
  }

/* Animación de colores */
@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}